<div class="modal-header">
  <h1 class="modal-title">Add a new show</h1>
</div>

<form name="addShowForm" class="form-horizontal" role="form" ng-submit="addShowForm.$valid && addShow()" novalidate>
  <div class="modal-body">

    <div class="form-group">
      <label for="title" class="">Show title</label>

      <div class="col-sm-offset-3 col-sm-6">
        <input type="text" ng-model="show.title" class="form-control" id="title" name="title" required>
      </div>
    </div>

    <div class="form-group">
      <label for="downloadLink" class="">Download link</label>

      <div class="col-sm-offset-3 col-sm-6">
        <input type="text" ng-model="show.downloadLin" class="form-control" id="downloadLink">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <button type="button" ng-click="fetchInfo()" class="btn btn-default" ng-class="{disabled: anim.info}">
          <i ng-class="{spin: anim.info}" class="glyphicon glyphicon-refresh"></i> Fetch data
        </button>

        <button type="button" ng-click="cancelRequests()" class="btn btn-warning" ng-class="{disabled: anim.info === false}">
          <i class="glyphicon glyphicon-remove"></i> Stop
        </button>
      </div>
    </div>


    <div class="form-group">
      <label for="wikipedia" class="">Wikipedia</label>

      <div class="col-sm-8">
        <div class="input-group">
          <input type="text" class="form-control" id="wikipedia" ng-model="show.wikipedia">

          <span class="input-group-btn">
            <button type="button" ng-click="fetchWikipedia()" class="btn btn-default">
              <i ng-class="{spin: anim.wikipedia}" class="glyphicon glyphicon-refresh"></i>
            </button>
          </span>
        </div>
      </div>
    </div>

    <h2>Preview</h2>
    <div class="preview-show clearfix" ng-show="show.poster">
      <img class="poster" ng-src="https://image.tmdb.org/t/p/w185/{{show.poster}}" />

      <div class="synopsis">
        <h3>{{show.title}}</h3>
        <p>{{show.synopsis}}</p>
      </div>

      <div class="episode">
        <div ng-show="show.latestEpisode">
          <strong>Latest Episode:</strong> {{show.latestEpisode.title }} on {{show.latestEpisode.date }}
        </div>
        <div ng-show="show.nextEpisode">
          <strong>Next Episode:</strong> {{show.nextEpisode.title }} on {{show.nextEpisode.date }}
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-class="{disabled: anim.info}">Add</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>