<div class="modal-header">
  <h1 class="modal-title">Delete a show</h1>
</div>

<form name="removeShowForm" class="form-horizontal" role="form" ng-submit="removeShowForm.$valid && removeShow()" novalidate>
  <div class="modal-body">

    <div class="text-center">
      Are you sure you want to delete the show "{{show.title}}"?
    </div>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Yes, I'm sure!</button>
    <button type="button" class="btn btn-success" ng-click="cancel()">No</button>
  </div>
</form>