@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

@dark-blue:   #355069;
@light-blue:  #5e7a9b;

h1, h2, h3, h4, h5, h6,
label {
  font-weight:   300 !important; // 400 if other content than titles
}

h2, h3, h4, h5, h6 {
  color: #333;
}

html, body, {
    height: 100%;
    min-height: 100%;
}

body {
  color:         #b1b1b1;
  font-family:   'Roboto', sans-serif !important;
  font-size:     18px !important;
  font-weight:   300 !important;
  line-height:   1.5;
}

i.spin {
  -moz-animation: spin 0.5s linear infinite;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

a {
  color:      #63AEEE;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color:            #63AEEE;
    text-decoration:  none;
  }
}

h2, h4 {
  margin-bottom: 40px;
}

#body {
  .row {
    margin-bottom: 50px;
  }
}

body > header {
  background:       linear-gradient(@dark-blue, #5e7a9b);
  padding:          70px 0;
  text-shadow:      0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom:    50px;

  h2 {
    color: white !important;
  }

  .panel-group {
    border: none !important;

    .panel-default {
      background-color: #334A5F;
      border-color: #323E49;
      text-shadow: none;

      &.cancelled {
        background-color: #eea6a6 !important;
        border-color: #99646C !important;
      }

      &.completed {
        background-color: #AFD6AE !important;
        border-color: #9FB38F !important;
      }

      &.paused {
        background-color: #465D79!important;
        border-color: #5B6E86!important;

        a {
          color: #547797;

          &:hover,
          &:focus {
            color: #4688B4
          }
        }
      }

      .panel-heading {
        background-color: transparent;
        text-shadow: none;
      }
    }
  }
}

.panel-default {
  &.cancelled {
    background-color: #f2dede !important;
    border-color:     #ebccd1 !important;

    a {
      &:hover,
      &:focus {
        color:  #a94442
      }
    }
  }

  &.cancelled,
  &.completed {
    a {
      color: #747474;
    }
  }

  &.paused {
    background-color: white !important;
    border-color: #F7F7F7;
    transition: border-color 0.2s;

    &:hover {
      border-color: #ddd;
    }

    a {
      color: #E4E4E4;

      &:hover,
      &:focus {
        color:  #C0C0C0
      }
    }
  }

  &.completed {
    background-color: #dff0d8 !important;
    border-color:     #d6e9c6 !important;

    a {
      &:hover,
      &:focus {
        color:  #3c763d
      }
    }
  }

  .panel-heading {
    position:         relative;
    padding:          0;
    background-color: transparent;


    .main-link {
      display:  inline-block;
      width:    100%;
      padding:  10px 15px;
    }

    .download-link {
      padding:  10px 15px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .panel-body {
    background-color: white;
    .control-links {
      font-size:  14px;
      margin-top: 20px;
    }
  }
}

.panel {
  margin-bottom: 20px !important;
}

.panel-group {
  padding: 20px 0;
  border:  2px dashed white;

  &.drop-area {
    border:        2px dashed #EEE;
    border-radius: 10px;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.add-link {
  position:     relative;
  top:          -50px;
  left:         -45px;
  background:   linear-gradient(#5e7a9b,#6987AA);
  border:       1px solid #5e7a9b;
  border-radius: 0;
  border-bottom-right-radius: 23px;
  color: white;
  transition: left 0.5s  cubic-bezier(0.680, -0.550, 0.265, 1.550);

  span {
    margin-right: 10px;
  }

  &:hover {
    color: white;
    left: -5px;
  }

  &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: linear-gradient(#5e7a9b,#6987AA);
  }
}

.fetching-buttons {
  padding-top: 12px;
}

.fetching-info {
  font-size: 13px;

  li {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }

  i {
    font-size: 10px;
    margin-left: 3px;

    &.glyphicon-refresh {
      -moz-animation: spin 0.5s linear infinite;
      -webkit-animation: spin 0.5s linear infinite;
      animation: spin 0.5s linear infinite;
    }
  }
}

// Bootstrap fix

a {
  cursor: pointer;
}

.text-danger {
  color: #e2918f !important;

  &:hover {
    color: #cc4b48 !important;
  }
}

.text-warning {
  color: #dfB56e !important;

  &:hover {
    color: #bd8e3c !important;
  }
}

.show {
  font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    font-weight:   400 !important;
  }

  .poster {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .episodes {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
}

.show.preview {
  border: 1px solid #C9C7C7;
  padding: 20px;
}


b, strong {
  font-weight: 500;
}

.modal-backdrop.in {
  filter: alpha(opacity=10);
  opacity: .1;
}

.modal.in .modal-dialog {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

.modal.in {
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  transform: scale(1) !important;
}

.modal.fade {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.modal.fade .modal-dialog {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}


.form-group {
  margin-bottom: 30px;
}

.modal-header {
  background-color: #428bca;
  color: white !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

input[type=text] {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #bebcbc;
  border-radius: 0;

  &:focus {
    box-shadow: none;
    border-color: inherit;
  }
}

.modal {
  label,
  .input-border {
    z-index: 1410;
  }
}

label {
  cursor: text;
  position: absolute;
  transform: none;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0.03, 1);
  color: #bebcbc;

  &.move {
    cursor: default;
    transform: scale(0.7) translateX(-13%) translateY(-27px);
    color: #428bca;
  }

}
.modal-content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

button {
  &:focus {
    outline: none !important;
  }
}

.input-border {
  background: #428bca;
  position: absolute;
  transition: all 0.2s linear;
}

.tooltip-inner {
  background-color: #428bca;
}

.tooltip {
  &.top .tooltip-arrow {
    border-top-color: #428bca;
  }

  &.top-left .tooltip-arrow {
    border-top-color: #428bca;
  }

  &.top-right .tooltip-arrow {
    border-top-color: #428bca;
  }

  &.right .tooltip-arrow {
    border-right-color: #428bca;
  }

  &.bottom .tooltip-arrow {
    border-bottom-color: #428bca;
  }

  &.bottom-left .tooltip-arrow {
    border-bottom-color: #428bca;
  }

  &.bottom-right .tooltip-arrow {
    border-bottom-color: #428bca;
  }
}