@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
   font-family:   'Roboto', sans-serif;
   font-weight:   300;
   font-size:     18px !important;
   line-height:   1.5;
}

// Semantic-UI fix
 .ui.menu {
    font-weight:  300;
    color:        white;
}

img {
   max-width:  100%;
   height:     auto;
}