<header class="clearfix">
    <div class="col-md-6 col-md-offset-3">
        <article class="today">
            <h2 class="text-center">Shows aired yesterday</h2>

            <div class="panel-group">
                {{#each}}
                    <div class="panel panel-default">

                        <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                    {{title}}
                                </a>
                                <a {{bind-attr href="downloadLink"}}>
                                    <i class="glyphicon glyphicon-link"></i>
                                </a>
                                <a {{bind-attr href="wikipedia"}}>
                                    W
                                </a>
                            </h4>
                        </div>

                        <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </article>
    </div>
</header>

<div id="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <article>
                    <h2 class="text-center">Monday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>

            <div class="col-md-5">
                <article class="today">
                    <h2 class="text-center">Tuesday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <article>
                    <h2 class="text-center">Wednesday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>

            <div class="col-md-5">
                <article class="today">
                    <h2 class="text-center">Thursday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <article>
                    <h2 class="text-center">Friday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>

            <div class="col-md-5">
                <article class="today">
                    <h2 class="text-center">Saturday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <article>
                    <h2 class="text-center">Sunday</h2>

                    <div class="panel-group">
                        {{#each}}
                            <div class="panel panel-default">

                                <div {{bind-attr class=":panel-heading isCancelled:cancelled isCompleted:completed isPaused:paused"}}>
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" class="main-link" {{bind-attr href="anchorSlug"}}>
                                            {{title}}
                                        </a>
                                        <a {{bind-attr href="downloadLink"}}>
                                            <i class="glyphicon glyphicon-link"></i>
                                        </a>
                                        <a {{bind-attr href="wikipedia"}}>
                                            W
                                        </a>
                                    </h4>
                                </div>

                                <div {{bind-attr id="slug"}} class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </article>
            </div>
        </div>
    </div>

</div>

<footer>

</footer>
