<!doctype html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <title>TV Shows download list</title>

  <!-- build:css styles/vendors.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  <!-- build:css({.tmp,app}) styles/styles.css -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-controller="ShowController as showCtrl">
    <header class="clearfix">
        <div class="col-md-6 col-md-offset-3">
            <article class="today">
                <h2 class="text-center">Shows aired yesterday</h2>

              <div class="panel-group">

                <div class="panel panel-default" ng-repeat="show in showCtrl.yesterdaysShows()">
                  <show-list></show-list>
                </div>
              </div>

            </article>
        </div>
    </header>

    <div id="body">
      <a class="add-link btn" ng-click="showCtrl.addOrEdit()">
        <span>Add</span>
        <i class="glyphicon glyphicon-plus-sign"></i>
      </a>

        <div class="container-fluid">
            <div ng-class-even="'row'" ng-repeat="day in showCtrl.days">
                <div ng-class-odd="{'col-md-offset-1':!$last}" ng-class="{'col-md-5':!$last, 'col-md-6 col-md-offset-3':$last}">
                    <article>
                        <h2 class="text-center">
                          {{day.name}}
                        </h2>

                      <div class="panel-group">

                        <div class="panel panel-default" ng-repeat="show in day.shows | orderBy:'isPaused':false">
                          <show-list></show-list>
                        </div>
                      </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js(app) scripts/vendors.js -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment-timezone/moment-timezone.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script>
      jQuery.event.props.push('dataTransfer');
    </script>

    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.js -->
    <script src="scripts/combined-scripts.js"></script>
    <!-- endbuild -->
</body>

</html>
