
<div>
  <div class="panel-heading" ng-class="{cancelled: show.isCancelled, completed: show.isCompleted, paused: show.isPaused}">
    <h4 class="panel-title">
      <a data-toggle="collapse" class="main-link" ng-href="#show-{{show._id}}-{{$parent.$index}}">
        {{show.title}}
      </a>

      <a ng-show="show.downloadLink" ng-href="{{show.downloadLink}}">
        <i class="glyphicon glyphicon-cloud-download"></i>
      </a>
    </h4>
  </div>

  <div id="show-{{show._id}}-{{$parent.$index}}" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="show clearfix">
        <img class="poster" ng-src="https://image.tmdb.org/t/p/w185/{{show.poster}}" />

        <div class="synopsis">
          {{show.synopsis}}
        </div>

        <ul class="episodes">
          <li ng-show="show.nextEpisode.date"><strong>Next episode</strong>: {{show.nextEpisode.date | date:'longDate'}}</li>
          <li ng-hide="show.nextEpisode.date"><strong>Next episode</strong>: Unknown</li>

          <li ng-show="show.latestEpisode.date"><strong>Last episode</strong>: {{show.latestEpisode.date | date:'longDate'}}</li>
          <li ng-hide="show.latestEpisode.date"><strong>Last episode</strong>: Unknown</li>
        </ul>

        <ul class="list-unstyled list-inline control-links pull-right">
          <li><a class="text-warning" ng-click="showCtrl.addOrEdit(show)">Edit</a></li>
          <li><a class="text-danger" ng-click="showCtrl.remove(show)">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>