
<div>
  <div class="panel-heading" ng-class="{cancelled: show.isCancelled, completed: show.isCompleted}">
    <h4 class="panel-title">
      <a data-toggle="collapse" class="main-link" ng-href="#show-{{show._id}}">
        {{show.title}}
      </a>

      <a href="{{show.downladLink}}">
        <i class="glyphicon glyphicon-link"></i>
      </a>

      <a href="{{show.wikipedia}}">
        W
      </a>
    </h4>
  </div>

  <div id="show-{{show._id}}" class="panel-collapse collapse">
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare nisl ante, id adipiscing leo fermentum id. Donec auctor erat elit, at scelerisque turpis pellentesque in. Fusce et justo eu felis lacinia ornare. Vestibulum nisi est, aliquam sit amet eleifend eu, euismod quis sem. Nunc id neque in odio fermentum dictum in in nisl.

      <ul class="list-unstyled list-inline control-links pull-right">
        <li><a class="text-warning" ng-click="showCtrl.edit()">Edit</a></li>
        <li><a class="text-danger" ng-click="showCtrl.remove(show._id + '-' + show.day)">Complete/Cancel</a></li>
      </ul>
    </div>
  </div>
</div>