
<div>
  <div class="panel-heading" ng-class="{cancelled: show.isCancelled, completed: show.isCompleted}">
    <h4 class="panel-title">
      <a data-toggle="collapse" class="main-link" ng-href="#show-{{show._id}}">
        {{show.title}}
      </a>

      <a href="{{show.downladLink}}">
        <i class="glyphicon glyphicon-link"></i>
      </a>

      <a href="{{show.wikipedia}}">
        W
      </a>
    </h4>
  </div>

  <div id="show-{{show._id}}" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="preview-show clearfix">
        <img class="poster" ng-src="https://image.tmdb.org/t/p/w185/{{show.poster}}" />

        {{show.synopsis}}

        <ul class="list-unstyled list-inline control-links pull-right">
          <li><a class="text-warning" ng-click="showCtrl.addOrEdit(show)">Edit</a></li>
          <li><a class="text-danger" ng-click="showCtrl.remove(show)">Complete/Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>