<header>
   <div class="date">
      Monday, February 15th
   </div>
   
   <div class="time">
      10:45
   </div>
</header>

<div id="body">
   <article>
      <header>
         Monday
         + add a new one
      </header>
      <ul>
         <li>
            <a href="#">Lost</a> (??? <a href="#">wikipedia</a>)
         <li>
            <a href="#">Dexter</a> (??? <a href="#">wikipedia</a>)
      </ul>
   </article>
   
   <article>
      <header>
         Tuesday
         + add a new one
      </header>
      <ul>
         <li>
            Nothing
      </ul>
   </article>
   
   <article>
      <header>
         Wednesday
         + add a new one
      </header>
      <ul>
         <li>
            <a href="#">Californication</a> (??? <a href="#">wikipedia</a>)
      </ul>
   </article>
   
   <article>
      <header>
         Thursday
         + add a new one
      </header>
      <ul>
         <li>
            <a href="#">Breaking Bad</a> (??? <a href="#">wikipedia</a>)
         <li>
            <a href="#">Dexter</a> (??? <a href="#">wikipedia</a>)
      </ul>
   </article>
</div>

<footer>
   
</footer>